<template>
  <v-app>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
<script>
import Vue from 'vue'
import { mapState } from 'vuex'

export default Vue.extend({
  name: 'App',
  components: {},
  data: () => ({
    authenticated: false
  }),
  computed: mapState({
    applicationState: (state) => state.applicationState,
    authenticationData: (state) => state.authenticationData
  }),
  methods: {
    redirectToLogin () {
      this.$router.push({ path: '/login' }).catch((err) => {
        if (err.name !== 'NavigationDuplicated' &&
          !err.message.includes('Avoided redundant navigation to current location')
        ) console.log(err)
      })
    },
    init () {
      this.$socket.connect()
      // const authCred = { hasUserCredentials: true, user: 'vito', password: 'testeteste' }
      const authCred = this.authenticationData

      if (authCred.hasUserCredentials && !this.authenticated) {
        console.log('Authenticating:')
        this.$socket.emit('authentication', authCred)
      }
      if (!this.authenticationData.hasUserCredentials) {
        console.log('No credentials, redirecting to login')
        this.redirectToLogin()
      }
      this.sockets.subscribe('authenticated', (data) => {
        this.$store.commit('setAuthenticationData', {
          hasUserCredentials: true,
          user: authCred.user,
          password: authCred.password,
          currentUser: data
        })
        console.log(this.authenticationData.currentUser)
        this.authenticated = true
      })
      this.sockets.subscribe('unauthorized', (data) => {
        console.log('There was an error with the authentication:', data.message);
        this.redirectToLogin()
      })
      this.sockets.subscribe('application_state', (applicationState) => {
        this.$store.commit('setApplicationState', applicationState)
      })
    }
  },
  mounted () {
    this.init()
  }
})
</script>
