<template>
  <v-container>
    <v-row>
      <v-card>
        <v-card-title>Choose a name for this Game Room:</v-card-title>
        <v-text-field v-model="roomName" placeholder="Room name"> </v-text-field>
        <v-card-actions>
          <v-btn text @click="startRoom()">
            <span class="mr-2">Create Room</span>
            <v-icon>mdi-home</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>

  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'

export default Vue.extend({
  name: 'CreateRoom',
  data: () => ({
    rules: [],
    roomName: ''
  }),
  mounted () {
    this.init()
  },
  computed: mapState({
    authenticationData: (state: any) => state.authenticationData
  }),
  methods: {
    init () {
      this.$socket.connect()
      this.sockets.subscribe('action_response', (actionResponse: any) => {
        if (actionResponse.status === 'action_success' && actionResponse.action.event === 'player_create_room') {
          const room = actionResponse.data.room
          this.$store.commit('setRoomInfo', room)
          this.goToRoom(room._id)
        }
      })
    },
    goToRoom (roomId: string) {
      this.$router.push({ path: `/room/${roomId}` })
    },
    startRoom () {
      console.log('Starting Room....')
      const room = {
        name: this.roomName
      };
      console.log(room)
      const createRoomAction = {
        client: { user: this.authenticationData.currentUser },
        event: 'player_create_room',
        data: {
          room,
          player: { user: this.authenticationData.currentUser }
        }
      }
      this.$socket.emit('client_action', createRoomAction)
    }
  }
})
</script>
