<template>
  <v-container>
    <v-app-bar app color="blue" dark>
      <v-spacer></v-spacer>
      <v-btn text @click="createRoom()">
        <span class="mr-2">Create Room</span>
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </v-app-bar>
    <v-row>
      <v-col class="col-10">
        <h1>Rooms:</h1>
        <v-card v-for="room in applicationState.rooms" v-bind:room="room" v-bind:key="room._id">
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">Room #{{ room._id }}</div>
              <v-list-item-title class="headline mb-1">
                <h3>{{ room.name }}</h3>
              </v-list-item-title>
              <v-list-item-title class="headline mb-1">
                <b>Opponent: </b>{{ room.createdBy.name }}
              </v-list-item-title>
              <v-list-item-subtitle></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar
              tile
              size="80"
              color="grey"
            ></v-list-item-avatar>
          </v-list-item>

          <v-card-actions>
            <v-btn rounded text color="blue" v @click="requestToJoinRoom(room)"> Join </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col class="col-2">
        <h1>Players:</h1>
        <v-card v-for="player in applicationState.players" v-bind:player="player" v-bind:key="player.id">
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">{{ player.name || '' }}</div>

            </v-list-item-content>

            <v-list-item-avatar
              tile
              size="80"
              color="grey"
            ></v-list-item-avatar>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'

export default Vue.extend({
  name: 'Lobby',
  data () {
    return {}
  },
  computed: mapState({
    applicationState: (state: any) => state.applicationState,
    authenticationData: (state: any) => state.authenticationData
  }),
  methods: {
    init () {
      this.$socket.emit('player_connected', {})
      this.sockets.subscribe('application_state', (applicationState) => {
        console.log({ applicationState })
        this.$store.commit('setApplicationState', applicationState)
      })
      this.sockets.subscribe('action_response', (applicationResponse: any) => {
        if (applicationResponse.status === 'action_success' && applicationResponse.action.event === 'player_join_room') {
          this.$store.commit('setRoomInfo', applicationResponse.data.room)
          this.goToRoom(applicationResponse.data.room)
        }
      })
    },
    goToRoom (room: any) {
      const roomId = room._id
      this.$router.push({ path: `/room/${roomId}` }).catch((err) => {
        if (err.name !== 'NavigationDuplicated' &&
          !err.message.includes('Avoided redundant navigation to current location')
        ) console.log(err)
      })
    },
    requestToJoinRoom (room: any) {
      const joinRoomAction = {
        client: { user: this.authenticationData.currentUser },
        event: 'player_join_room',
        data: {
          room,
          player: this.authenticationData.currentUser
        }
      }
      this.$socket.emit('client_action', joinRoomAction)
    },
    createRoom () {
      this.$router.push({ path: 'createRoom' }).catch((err) => {
        if (err.name !== 'NavigationDuplicated' &&
          !err.message.includes('Avoided redundant navigation to current location')
        ) console.log(err)
      })
    }
  },
  mounted () {
    console.log('mounted')
    this.init()
  },
  created () {
    console.log('created')
  }
})
</script>
