<template>
  <v-container>
    <v-dialog v-model="dialog" persistent max-width="600px" min-width="360px">
            <div>
                <v-tabs v-model="tab" icons-and-text dark grow>
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab v-for="i in tabs" :key="i.id">
                        <v-icon large>{{ i.icon }}</v-icon>
                        <div class="caption py-1">{{ i.name }}</div>
                    </v-tab>
                    <v-tab-item>
                        <v-card class="px-4">
                            <v-card-text>
                                <v-form ref="loginForm" v-model="valid" lazy-validation>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field v-model="loginUser" label="Your Username" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field v-model="loginPassword" :append-icon="show1?'eye':'eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1" required></v-text-field>
                                        </v-col>
                                        <v-col class="d-flex" cols="12" sm="6" xsm="12">
                                        </v-col>
                                        <v-spacer></v-spacer>
                                        <v-col class="d-flex" cols="12" sm="3" xsm="12" align-end>
                                            <v-btn x-large block :disabled="!valid" color="success" @click="authenticate"> Login </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card class="px-4">
                            <v-card-text>
                                <v-form ref="registerForm" v-model="valid" lazy-validation>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="name" :rules="[rules.required]" label="Your Name" maxlength="20" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="user" :rules="[rules.required]" label="Your Username" maxlength="20" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field v-model="password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field block v-model="verify" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, passwordMatch]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Confirm Password" counter @click:append="show1 = !show1"></v-text-field>
                                        </v-col>
                                        <v-spacer></v-spacer>
                                        <v-col class="d-flex ml-auto" cols="12" sm="3" xsm="12">
                                            <v-btn x-large block :disabled="!valid" color="success" @click="register">Register</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </div>
        </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'

export default Vue.extend({
  name: 'Login',
  computed: mapState({
    authenticationData: (state: any) => state.authenticationData,
    passwordMatch () {
      return () => this.password === this.verify || 'Password must match';
    }
  }),
  methods: {
    init () {
      this.sockets.subscribe('player_register_successful', (response) => {
        const { _id, user } = response
        const password = this.password
        this.$store.commit('setAuthenticationData', { hasUserCredentials: true, userId: _id, password, currentUser: response })
        this.$socket.emit('authentication', { user, password, register: false })
      })
      this.sockets.subscribe('authenticated', (response) => {
        const { user } = response
        const password = this.password
        this.$store.commit('setAuthenticationData', { hasUserCredentials: true, user, password, currentUser: response })
        this.goToLobby()
      })
    },
    goToLobby () {
      this.$router.push({ path: '/' }).catch((err) => {
        if (err.name !== 'NavigationDuplicated' &&
          !err.message.includes('Avoided redundant navigation to current location')
        ) console.log(err)
      })
    },
    authenticate () {
      const credentials = {
        user: this.loginUser,
        password: this.loginPassword,
        register: false
      }
      console.log('Sending user authentication credentials')
      this.$socket.emit('authentication', credentials)
    },
    register () {
      const credentials = {
        user: this.user,
        password: this.password,
        name: this.name,
        register: true
      }
      console.log('Sending user register credentials')
      this.$socket.emit('authentication', credentials)
    }
  },
  data: () => ({
    dialog: true,
    tab: 0,
    tabs: [
      { id: 0, name: 'Login', icon: 'mdi-account' },
      { id: 1, name: 'Register', icon: 'mdi-account-outline' }
    ],
    valid: true,
    name: '',
    user: '',
    password: '',
    verify: '',
    loginPassword: '',
    loginUser: '',
    show1: false,
    rules: {
      required: (value: any) => !!value || 'Required.',
      min: (v: any) => (v && v.length >= 8) || 'Min 8 characters'
    }
  }),
  mounted () {
    this.init()
  }
});
</script>
