<template>
  <v-container :width="100">
    <v-app-bar app color="blue" dark>
      <v-spacer></v-spacer>
      <v-btn text @click="exitRoom()">
        <span class="mr-2">Exit Room</span>
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </v-app-bar>
    <h1> Room {{ roomId }}</h1>
      <v-row
        no-gutters
        full-height
        class="md-12"
      >
        <v-col :cols="2">
          <v-card class="pa-2"  outlined tile >
            <v-card-title>
              {{ this.roomState.currentRoom.createdBy.name }}
            </v-card-title>
            <v-card-subtitle>
              {{ iRoomCreator() ? '(YOU)' : ''}}
              {{ this.roomState.currentRoom.createdBy.user }}
              {{ this.roomState.currentRoom.createdBy.id }}
            </v-card-subtitle>
          </v-card>
        </v-col>
        <v-col :cols="8">
          <div v-if="isRoomFull()">
            <div v-if="isGameStarted()">

              <v-card v-if="iAmThief()" class="pa-2"  outlined tile >
                YOU ARE THE THIEF!
                <span v-if="isWordChosen()">
                  THE WORD IS <b>{{this.roomState.currentGame.word}}</b>
                </span>
              </v-card>
              <v-card v-else  class="pa-2"  outlined tile >
                YOU ARE THE DETECTIVE!
              </v-card>
              <div v-if="isWordChosen()">
                <div v-if="isGameFinished()">
                  <v-card class="pa-2"  outlined tile >
                    {{ getWinnerMessage() }}
                    {{ getWhoWin() }}

                  <span v-if="isWordChosen()">
                    THE WORD WAS <b>{{this.roomState.currentGame.word}}</b> !
                  </span>
                  </v-card>
                  <v-card v-if="iRoomCreator()" class="pa-2"  outlined tile >
                    <v-btn  @click="startGame()">START ANOTHER GAME</v-btn>
                  </v-card>
                </div>
                <div v-else>
                  <v-card v-if="iAmDetective()" class="pa-2"  outlined tile >
                    <v-form ref="guessing" v-model="guessValid">
                      <v-text-field
                        label="GUESS THE WORD"
                        :rules="guessRules"
                        v-model="guessWord"
                        hide-details="auto"
                      ></v-text-field>

                      <v-btn :disabled="!guessValid" @click="guess()">GUESS</v-btn>
                    </v-form>
                  </v-card>
                  <div v-if="isMyTurn()">
                    <v-card v-if="iAmThief()" class="pa-2"  outlined tile >
                      <v-card-title>
                        {{ this.roomState.currentGame.currentQuestion.question }}
                      </v-card-title>
                      <v-card-subtitle> asked the detective... </v-card-subtitle>
                      <v-card-actions>
                        <v-btn class="green lighten-2" @click="answer(true)">True</v-btn>
                        <v-btn class="red lighten-2" @click="answer(false)">False</v-btn>
                      </v-card-actions>
                    </v-card>
                    <v-card v-if="iAmDetective()" class="pa-2"  outlined tile >
                      <v-form ref="questioning" v-model="questionValid">
                        <v-text-field
                          label="ASK A QUESTION"
                          :rules="questionRules"
                          v-model="askingQuestion"
                          hide-details="auto"
                        ></v-text-field>

                        <v-btn :disabled="!questionValid" @click="ask()">ASK</v-btn>
                      </v-form>
                    </v-card>
                    </div>
                  <div v-else>
                      <v-card class="pa-2"  outlined tile >
                        {{ getTurnWaitingMessage() }}
                      </v-card>
                  </div>
                  <v-card class="pa-2" outlined tile >
                    <v-card-title>POLICE REPORT:</v-card-title>
                    <v-card-subtitle> Number of questions: {{ this.roomState.currentGame.questions.length }} </v-card-subtitle>
                    <v-list>
                      <v-list-item-group v-model="this.roomState.currentGame.questions">
                        <v-list-item
                          v-for="(question, i) in this.roomState.currentGame.questions"
                          :key="i"
                          :class="responseColor(question.response)"
                        >
                        <v-list-item-icon>
                            <v-icon>mdi-help-box</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-text="question.question"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-card>
                </div>
              </div>
              <div v-else>
                  <v-card v-if="iAmDetective()" class="pa-2"  outlined tile >
                    THIEF IS STEALING A WORD...
                  </v-card>
                  <v-card v-if="iAmThief()" class="pa-2"  outlined tile >
                    <v-form ref="wordStealing" v-model="wsValid">
                      <v-text-field
                        label="STEAL A WORD"
                        :rules="wordRules"
                        v-model="chosenWord"
                        hide-details="auto"
                      ></v-text-field>

                      <v-btn :disabled="!wsValid" @click="choseGameWord()">CHOSE_WORD</v-btn>
                    </v-form>
                  </v-card>
              </div>
            </div>
            <div v-else>
                <v-card v-if="iRoomCreator()" class="pa-2"  outlined tile >
                  <v-card-title> YOUR OPPONENT IS HERE, READY TO START THE GAME... </v-card-title>
                  <v-btn  @click="startGame()">START_GAME</v-btn>
                </v-card>
                <v-card v-else class="pa-2"  outlined tile >
                  <v-card-title> WAITING FOR CREATOR TO START THE GAME... </v-card-title>
                </v-card>
            </div>
          </div>
          <div v-else>
            <v-card class="pa-2"  outlined tile >
              WAITING FOR OPPONENT...
            </v-card>
          </div>
        </v-col>

        <v-col v-if="isRoomFull()" :cols="2">
          <v-card class="pa-2"  outlined tile >
            <v-card-title>
              {{ this.roomState.currentRoom.opponent.name }}
            </v-card-title>
            <v-card-subtitle>
              {{ !iRoomCreator() ? '(YOU)' : ''}}
              {{ this.roomState.currentRoom.opponent.user }}
              {{ this.roomState.currentRoom.opponent.id }}
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'

export default Vue.extend({
  name: 'Room',
  data: () => ({
    wsValid: false,
    questionValid: false,
    guessValid: false,
    guessRules: [
      (value: any) => !!value || 'Required.',
      (value: any) => (value && value.length >= 3) || 'Min 3 characters'
    ],
    questionRules: [
      (value: string) => (value && value.includes('?')) || 'Must have a question mark (?)',
      (value: any) => !!value || 'Required.',
      (value: any) => (value && value.length >= 3) || 'Min 3 characters'
    ],
    wordRules: [
      (value: any) => !!value || 'Required.',
      (value: any) => (value && value.length >= 3) || 'Min 3 characters'
    ],
    word: '',
    roomId: '',
    chosenWord: '',
    guessWord: '',
    askingQuestion: '',
    initialized: false
  }),
  computed: mapState({
    authenticationData: (state: any) => state.authenticationData,
    roomState: (state: any) => state.roomState
  }),
  methods: {
    exitRoom () {
      this.$socket.emit('close_room', { roomId: this.roomId })
    },
    getWhoWin () {
      return (this.roomState.currentGame.winner._id === this.authenticationData.currentUser._id)
        ? 'YOU WIN ! '
        : 'YOU LOSE ! '
    },
    iRoomCreator () {
      return this.roomState.currentRoom.createdBy._id === this.authenticationData.currentUser._id
    },
    iAmDetective () {
      return this.roomState.currentGame.detective._id === this.authenticationData.currentUser._id
    },
    iAmThief () {
      return this.roomState.currentGame.wordThief._id === this.authenticationData.currentUser._id
    },
    isQuestionTime () {
      return this.roomState.currentGame.currentQuestion === null
    },
    isAnswerTime () {
      return this.roomState.currentGame.currentQuestion !== null
    },
    isMyTurn () {
      const caseOne = this.iAmDetective() && this.isQuestionTime()
      const caseTwo = this.iAmThief() && this.isAnswerTime()
      const isIt = caseOne || caseTwo
      return isIt
    },
    getTurnWaitingMessage () {
      return this.iAmThief()
        ? 'THE DETECTIVE IS RAISING QUESTIONS...'
        : 'THE SUSPECT IS BEING IMNTERROGATED...'
    },
    responseColor (response: boolean) {
      return response ? 'green lighten-3' : 'red lighten-3'
    },
    isRoomFull () {
      return this.roomState.currentRoom.opponent !== null
    },
    isGameStarted () {
      return this.roomState.currentGame.started
    },
    isWordChosen () {
      return this.roomState.currentGame.hasWord
    },
    isGameFinished () {
      return this.roomState.currentGame.finished
    },
    getWinnerMessage () {
      return this.roomState.currentGame.winner._id === this.roomState.currentGame.wordThief._id
        ? 'THE THIEF HAS RUN AWAY ! '
        : 'THE THIEF WAS CAUGHT ! '
    },
    init (roomId: string) {
      this.roomId = roomId
      console.log(`Initializing Room #${roomId}`)

      this.$socket.emit('room_info', { roomId })
      const updateRoomState = (roomState: any) => {
        console.log(roomState)
        this.$store.commit('setRoomState', roomState)
      }
      this.sockets.subscribe('room_data', (room: any) => {
        console.log({ roomData: room })
        this.$store.commit('setRoomInfo', room)
      })

      this.sockets.subscribe('room_ready', updateRoomState)
      this.sockets.subscribe('game_started', updateRoomState)
      this.sockets.subscribe('game_finish', updateRoomState)
      this.sockets.subscribe('word_chosen', updateRoomState)
      this.sockets.subscribe('response_time', updateRoomState)
      this.sockets.subscribe('question_time', updateRoomState)
      this.sockets.subscribe('room_update', updateRoomState)
      this.sockets.subscribe('room_closed', (data: any) => {
        console.log('Room closed')
        this.$router.push({ path: '/' }).catch((err) => {
          if (err.name !== 'NavigationDuplicated' &&
            !err.message.includes('Avoided redundant navigation to current location')
          ) console.log(err)
        })
      })
    },
    startGame () {
      const action = {
        client: { user: this.authenticationData.currentUser },
        event: 'start_game',
        data: {
          roomId: this.roomId,
          roomState: this.roomState
        }
      }
      this.$socket.emit('room_action', action)
    },
    choseGameWord (fakeWord = null) {
      const action = {
        client: { user: this.authenticationData.currentUser },
        event: 'choose_word',
        data: {
          roomId: this.roomId,
          roomState: this.roomState,
          chosenWord: fakeWord || this.chosenWord
        }
      }
      this.$socket.emit('room_action', action);
    },
    guess (fakeGuess = null) {
      const play = {
        question: this.roomState.currentGame.currentQuestion,
        wordGuess: fakeGuess || this.guessWord
      };

      const action = {
        client: { user: this.authenticationData.currentUser },
        event: 'make_play',
        data: {
          roomId: this.roomId,
          roomState: this.roomState,
          currentPlay: play
        }
      }
      this.makePlay(play)
    },
    answer (response: any) {
      console.log(response)
      const play = {
        question: {
          question: this.roomState.currentGame.currentQuestion.question,
          response
        },
        wordGuess: null
      };
      const action = {
        client: { user: this.authenticationData.currentUser },
        event: 'make_play',
        data: {
          roomId: this.roomId,
          roomState: this.roomState,
          currentPlay: play
        }
      }
      this.makePlay(play)
    },
    ask (fakeQuestion = null) {
      console.log(fakeQuestion)
      const play = {
        question: {
          question: fakeQuestion || this.askingQuestion,
          response: null
        },
        wordGuess: null
      };
      this.makePlay(play)
    },
    makePlay (play: any) {
      const action = {
        client: { user: this.authenticationData.currentUser },
        event: 'make_play',
        data: {
          roomId: this.roomId,
          roomState: this.roomState,
          currentPlay: play
        }
      }
      this.$socket.emit('room_action', action);
    }
  },
  mounted () {
    const roomId = this.roomId = this.$route.params.id
    console.log({ mounted: roomId })
    this.init(roomId)
  },
  created () {
    const roomId = this.roomId = this.$route.params.id
    console.log({ created: roomId })
  }
})
</script>
